<div>
    <p>El correo fue enviado con exito!</p>

    <ul>
        <li>{{nombre}}</li>
        <li>{{apellido}}</li>
        <li>{{telefono}}</li>
        <li>{{mail}}</li>
        <li>{{localidad}}</li>
        <li>{{fechaEvento}}</li>
        <li>{{comentario}}</li>
    </ul>
</div>
